/* You can add global styles to this file, and also import other style files */
table.table.table-content i {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.input-group {
    padding-bottom: 20px;
}
.errorMessageForm {
    color: red;
}
